@media screen and (max-width:400px){
    .title{
        position: absolute;
        max-width: 100%;
        width: 100px;
        left: 18.5%;
        top: 20px;
        margin: 0 auto;
        font-size: 60px;
        color: white;
    }
    /* body{
        
    } */
form{
    position: relative;
    top: 200px;
    padding: 0;
    max-width: 100%;
    width: 350px;
    font-size: 14px;
}
.selector{
    font-family: monospace;
    position: absolute;
    max-width: 100%;
    left: 50%;
    margin-left: -100px;
    margin-top: 130px;
    width: 200px;
}
.encyptbtn{
    margin: 0 5px;
}
.decryptbtn{
    margin: 0 5px;
}
.resultdiv{
font-size: 14px;
text-align: center;
position: relative;
top: 210px;
font-family: monospace;
margin: 0 auto;
max-width: 100%;
width: 300px;
}
body{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: monospace;
}
}